[submodule "RODNet"]
	path = RODNet
	url = https://github.com/yizhou-wang/RODNet
[submodule "contrastive-unpaired-translation"]
	path = contrastive-unpaired-translation
	url = https://github.com/taesungp/contrastive-unpaired-translation
[submodule "deep_sort_pytorch"]
	path = deep_sort_pytorch
	url = https://github.com/ZQPei/deep_sort_pytorch
[submodule "mmclassification"]
	path = mmclassification
	url = https://github.com/open-mmlab/mmclassification
