[submodule "RODNet"]
	path = RODNet
	url = https://github.com/yizhou-wang/RODNet
[submodule "contrastive-unpaired-translation"]
	path = contrastive-unpaired-translation
	url = https://github.com/taesungp/contrastive-unpaired-translation
[submodule "deep_sort_pytorch"]
	path = deep_sort_pytorch
	url = https://github.com/ZQPei/deep_sort_pytorch
[submodule "mmclassification"]
	path = mmclassification
	url = https://github.com/open-mmlab/mmclassification
[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection
[submodule "py-motmetrics"]
	path = py-motmetrics
	url = https://github.com/cheind/py-motmetrics
[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = pytorch-CycleGAN-and-pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
[submodule "pytorch-image-models"]
	path = pytorch-image-models
	url = https://github.com/Simeon340703/pytorch-image-models
[submodule "darknet"]
	path = darknet
	url = https://github.com/Simeon340703/darknet
[submodule "yolov3"]
	path = yolov3
	url = https://github.com/ultralytics/yolov3
[submodule "Awesome-Underwater-Image-Enhancement"]
	path = Awesome-Underwater-Image-Enhancement
	url = https://github.com/cxtalk/Awesome-Underwater-Image-Enhancement
[submodule "Yolo_mark"]
	path = Yolo_mark
	url = https://github.com/AlexeyAB/Yolo_mark
[submodule "nutonomy_pointpillars"]
	path = nutonomy_pointpillars
	url = https://github.com/SmallMunich/nutonomy_pointpillars
[submodule "FUnIE-GAN"]
	path = FUnIE-GAN
	url = https://github.com/xahidbuffon/FUnIE-GAN
[submodule "1-stage-wseg"]
	path = 1-stage-wseg
	url = https://github.com/visinf/1-stage-wseg
[submodule "a-PyTorch-Tutorial-to-Object-Detection"]
	path = a-PyTorch-Tutorial-to-Object-Detection
	url = https://github.com/sgrvinod/a-PyTorch-Tutorial-to-Object-Detection
